.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 804px;
  margin: 0 auto;
  gap: var(--gap);
  max-width: var(--max-width);
  min-height: calc(100vh - 172px);

  @media (max-width: 804px) {
    width: 396px;
  }
}

.title {
  color: var(--text-color);
  font-size: var(--h4);
  font-weight: 700;
}
