.user_profile_container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  justify-content: center;
  align-items: center;

  height: calc(100vh - 200px);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: calc(var(--gap) * 2);
  margin: auto;
  background: var(--card-background-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: var(--border-radius);
  padding: 20px;
}

.button {
  all: unset;
  cursor: pointer;
}
