.floating_scroll_to_top_container {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  right: 12px;
  bottom: 64px;

  @media (max-width: 1620px) {
    width: 1212px;
  }

  @media (max-width: 1212px) {
    width: 804px;
  }

  @media (max-width: 804px) {
    width: 100%;
    right: 12px;
  }
}

.floating_scroll_to_top {
  position: relative;
  z-index: var(--z-index-scroll-to-top);
  background-color: var(--card-background-color);
  color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  box-shadow: inset 0 1px 10px var(--black);
  opacity: 0.8;

  &:hover {
    background-color: var(--background-color-dark);
    box-shadow: inset 0 0 8px var(--background-color-dark);
  }
}
