.floating_scroll_to_top_container {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  right: 480px;
  bottom: 64px;

  @media (max-width: 1620px) {
    right: 160px;
  }

  @media (max-width: 1212px) {
    right: 40px;
  }

  @media (max-width: 804px) {
    right: 12px;
  }
}

.floating_scroll_to_top {
  position: relative;
  z-index: var(--z-index-scroll-to-top);
  background-color: var(--card-background-color);
  color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
