.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--card-width) * 2 + var(--gap) * 1);
  height: calc(var(--card-height) * 3 + var(--gap) * 2);
  overflow: hidden;
}

.perspective_wrap {
  perspective: 600px;
  transform-style: preserve-3d;
}

.image_wrap {
  display: block;
  transform-style: preserve-3d;
  transition: transform 0.12s ease-out;
  will-change: transform;
}
