.card_resent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--card-padding);
  width: calc(var(--card-width) * 2 + var(--gap) * 1);
  height: calc(var(--card-height) * 4 + var(--gap) * 3);
  background-color: var(--card-background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.item_header,
.item_footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;

  font-size: var(--caption);
}
