.side_section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.side_header {
  display: flex;
  gap: var(--gap);
}

.post_controller {
  display: flex;
  align-items: flex-end;
  gap: var(--gap);
}
