.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--card-padding);
  width: calc(var(--card-width) * 1 + var(--gap) * 0);
  height: calc(var(--card-height) * 3 + var(--gap) * 2);
  background-color: var(--card-background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
}

.action_link {
  font-size: var(--p);
  color: var(--link-color, inherit);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.sign_out_button {
  all: unset;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  text-align: center;
  color: inherit;
  font-size: var(--caption);
}
