.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--card-padding);
  width: calc(var(--card-width) * 2 + var(--gap) * 1);
  height: calc(var(--card-height) * 3 + var(--gap) * 2);
  background-color: var(--card-background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  color: var(--white);
}

.error_message {
  width: 100%;
  color: var(--white);
  // 줄바꿈
  white-space: pre-wrap;
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap);
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.spaceBetween {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.font_awesome_icon {
  font-size: var(--h5);
  color: var(--white);
}

.weather_icon {
  filter: drop-shadow(0 0 4px var(--white)) drop-shadow(0 0 8px var(--black))
    drop-shadow(0 0 16px var(--black)) invert(1);
}

.sunrise {
  background: linear-gradient(to bottom, #02010d, #9b6c07);
}

.day {
  background: linear-gradient(to bottom, #8ccbf2, #0b82fa);
}

.sunset {
  background: linear-gradient(to bottom, #ff6600, #ff9900);
}

.night {
  background: linear-gradient(to bottom, #022346, #020820);
}
