.editor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  background-color: var(--card-background-color);
  padding: 20px;
  border-radius: 8px;
}

.flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
