.form {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 100%;
  gap: var(--gap);
  margin: auto;
}

.title_input {
  // input style 제거
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

.editor_container {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > * {
    color: var(--text-color);
    font-weight: 700;
  }

  @media (max-width: 768px) {
    padding: 0px;
  }
}

.card {
  display: flex;
  width: 100%;
  padding: 20px;
  border-radius: var(--border-radius);
  gap: var(--gap);
  background: var(--card-background-color);
}

.button_container {
  display: flex;
  gap: var(--gap);
}

.tag {
  align-items: center;
  padding: 8px;
  border-radius: var(--border-radius);
  background: var(--card-background-color);

  & > label {
    display: flex;
    gap: var(--gap);
  }
}

.tag_container {
  display: flex;
  gap: var(--gap);
}
