.content {
  width: 100%;
  min-height: calc(100vh - 290px);

  div {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }
}

.editor {
  @media (max-width: 500px) {
    h1 > a,
    h2 > a,
    h3 > a,
    h4 > a {
      margin-left: 0 !important;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    border: none !important;
  }

  h2 {
    font-size: var(--h5) !important;
  }

  h3 {
    font-size: var(--h6) !important;
  }

  h4 {
    font-size: var(--p) !important;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    border-radius: 8px;
  }

  hr {
    height: 1px !important;
  }

  // 코드
  pre {
    code {
      padding: 16px !important;
      color: #ffffff;
    }
  }

  // 가사
  lyric > pre {
    code {
      padding: 16px !important;
      color: #ffffff;

      // 일본어
      span:nth-child(4n + 1) {
        color: var(--warning-color);
      }

      // 발음
      span:nth-child(4n + 2) {
        font-size: var(--caption);
        color: var(--error-color);
      }

      // 뜻
      span:nth-child(4n + 3) {
        font-size: var(-h4);
        color: inherit;
      }
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;

    html[data-theme="light"] &,
    :root & {
      border: 1px solid rgb(0, 0, 0);
    }

    thead {
      tr {
        border-top: none;
      }

      tr > th {
        border-top: none;

        html[data-theme="light"] &,
        :root & {
          background: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
        }

        html[data-theme="dark"] & {
          background: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
        }

        &:first-child {
          border-left: none;
          border-top-left-radius: 8px;
        }
        &:last-child {
          border-right: none;
          border-top-right-radius: 8px;
        }
      }
    }

    tbody {
      tr > td {
        html[data-theme="light"] &,
        :root & {
          background: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
        }

        html[data-theme="dark"] & {
          background: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
        }

        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }

      tr:last-child td {
        border-bottom: none;

        &:first-child {
          border-bottom-left-radius: 8px;
        }
        &:last-child {
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
}
