.content {
  width: 100%;

  div {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }
}

.markdown {
  @media (max-width: 500px) {
    h1 > a,
    h2 > a,
    h3 > a,
    h4 > a {
      margin-left: 0 !important;
    }
  }

  h1 {
    font-size: var(--h5) !important;
  }

  h2,
  h3,
  h4 {
    font-size: var(--h6) !important;
  }

  * {
    border: none !important;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    border-radius: 8px;
  }

  hr {
    height: 1px !important;
  }

  // 코드
  pre {
    code {
      padding: 16px !important;
      color: #ffffff;
    }
  }

  // 가사
  lyric > pre {
    code {
      padding: 16px !important;
      color: #ffffff;

      // 일본어
      span:nth-child(4n + 1) {
        color: var(--warning-color);
      }

      // 발음
      span:nth-child(4n + 2) {
        font-size: var(--caption);
        color: var(--error-color);
      }

      // 뜻
      span:nth-child(4n + 3) {
        font-size: var(-h4);
        color: inherit;
      }
    }
  }
}
