.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
}

.markdown {
  @media (max-width: 500px) {
    h1 > a,
    h2 > a,
    h3 > a,
    h4 > a,
    h5 > a,
    h6 > a {
      margin-left: 0 !important;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    border-radius: 8px;
  }

  lyric > pre > code > span:nth-child(4n + 1) {
    color: var(--warning-color);
  }

  lyric > pre > code > span:nth-child(4n + 2) {
    color: var(--error-color);
  }

  lyric > pre > code > span:nth-child(4n + 3) {
    color: inherit;
  }

  pre {
    code {
      padding: 16px !important;
      color: #ffffff;
    }
  }

  code {
    padding: 0.2rem 0.4rem !important;
  }
}
