.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @media (max-width: 500px) {
      margin-left: 20px;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    border-radius: 8px;
  }

  lyric > pre > code > span:nth-child(4n + 1) {
    color: var(--warning-color);
  }

  lyric > pre > code > span:nth-child(4n + 2) {
    color: var(--error-color);
  }

  lyric > pre > code > span:nth-child(4n + 3) {
    color: inherit;
  }
}
