.active,
.inactive {
  backdrop-filter: blur(var(--card-backdrop-blur));
  -webkit-backdrop-filter: blur(var(--card-backdrop-blur));
  border: 1px solid var(--card-glass-border);
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  background-color: var(--card-background-color);
  border-radius: 50%;
  color: var(--text-color);
  cursor: inherit;
  font-size: 16px;
  font-weight: bold;
  transition:
    background-color 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;
}

.inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  background-color: var(--card-background-color);
  color: var(--secondary-color);
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  transition:
    background-color 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;

  &:hover {
    color: var(--text-color);
    box-shadow:
      inset 0 1px 2px var(--card-shadow-color-down),
      inset 0 -1px 2px var(--card-shadow-color-up);
  }

  &:hover,
  &:focus-within {
    transform: translateY(1px);
  }
}
