.main {
  display: flex;
  padding: 64px 150px 0px 150px;
  gap: var(--gap);
  min-width: var(--max-width - 300px);
}

.right {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.right_top {
  display: flex;
  gap: var(--gap);
}

.right_top_left {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
