.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: var(--gap);
}

.article {
  display: flex;
  gap: var(--gap);
  margin: auto;
  padding-bottom: var(--padding-sm);
}

.article_full_width {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.flex_row {
  display: flex;
  gap: var(--gap);
}

.flex_row_reverse {
  @media (min-width: 804px) {
    display: flex;
    gap: var(--gap);
    flex-direction: row-reverse;
  }
}

.flex_column {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.flex_column_reverse {
  @media (max-width: 1212px) {
    display: flex;
    gap: var(--gap);
    flex-direction: column-reverse;
  }
}
