.card_light {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--card-padding);
  width: calc(var(--card-width) * 1 + var(--gap) * 0);
  height: calc(var(--card-height) * 1 + var(--gap) * 0);
  background-color: #efefef;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card_dark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--card-padding);
  width: calc(var(--card-width) * 1 + var(--gap) * 0);
  height: calc(var(--card-height) * 1 + var(--gap) * 0);
  background-color: #222222;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.text_light {
  color: black;
}

.text_dark {
  color: white;
}
