.image_card_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow:
    inset 0 1px 2px var(--image-card-shadow-color-up),
    inset 0 -1px 2px var(--image-card-shadow-color-down);

  z-index: var(--z-index-img-title);
}
