.card {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: var(--card-padding);
  width: calc(var(--card-width) * 2 + var(--gap) * 1);
  height: calc(var(--card-height) * 3 + var(--gap) * 2);
  background-color: var(--card-background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
