.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: var(--padding-md) var(--padding-sm);
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  @media (max-width: 1620px) {
    max-width: 1212px;
  }

  @media (max-width: 1212px) {
    max-width: 804px;
  }

  @media (max-width: 804px) {
    max-width: 100%;
  }
}

.article {
  display: flex;
  gap: var(--gap);
  margin: auto;
}

.flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme_section {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
