.main {
  display: flex;
  gap: var(--gap);
  width: 1620px;
  margin: 0 auto;

  @media (max-width: 1620px) {
    width: 1212px;
  }

  @media (max-width: 1212px) {
    width: 804px;
  }

  @media (max-width: 804px) {
    width: 396px;
  }
}

.right {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.right_top_right {
  display: flex;
  gap: var(--gap);
}

.right_top_left {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
