.post_list_header {
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
  gap: var(--gap-lg);
  justify-content: center;
  align-items: center;
}

.tag_container {
  display: flex;
  gap: var(--gap);
}

.chip {
  border-radius: 40px;
  background: #000000;
  padding: 4px 8px;
}
