@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal_loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  width: 400px;
  height: 300px;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 16px;
  box-sizing: border-box;
}

.terminal_controls {
  display: flex;
  align-items: center;
  height: 300px;
  gap: calc(var(--gap) / 2);
}

.control {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.close {
  background-color: #e33;
}

.minimize {
  background-color: #ee0;
}

.maximize {
  background-color: #0b0;
}

.terminal_title {
  line-height: 1.5em;
  color: var(--white);
}

.terminal_command {
  color: var(--secondary-color);
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.terminal_body {
  padding: 8px 16px;
  height: 160px;
  overflow-y: auto;
  box-sizing: border-box;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green; /* Cursor */
  animation:
    typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}
