.post_list_item {
  width: 100%;
  min-height: 40px;
  background-color: var(--card-background-color);
  border-radius: var(--border-radius);
}

.post_list_link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  padding: var(--padding-sm) var(--padding-sm);

  .icon_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;

    font-size: var(--caption);
  }

  .item_header,
  .item_footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
