.post_list_item {
  width: 100%;
  min-height: 40px;
  background-color: var(--card-background-color);
  border-radius: var(--border-radius);
}

.post_list_link {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: var(--gap);
  width: 100%;
  min-height: 56px;
  padding: var(--padding-sm) var(--padding-sm);
}

.thumbnail_wrap {
  flex-shrink: 0;
  width: 80px;
  height: 56px;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--surface-color);
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  min-width: 0;

  .icon_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;

    font-size: var(--caption);
  }

  .item_header,
  .item_footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .item_header {
    flex-wrap: wrap;
    gap: 4px;
  }

  .item_footer {
    ul {
      display: flex;
      gap: var(--gap);
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
