.post_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: var(--gap);
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: 1620px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 1212px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 804px) {
    grid-template-columns: 1fr;
  }
}

.empty {
  padding: 48px 0;
  text-align: center;
  color: var(--secondary-color);
}

.loading_more {
  padding: 24px 0;
  text-align: center;
  color: var(--secondary-color);
  font-size: var(--caption);
}
